$toolbars: top, bottom
$toolbar-height: 40px

/**
 * Layout
 */

.wrapper
  display: table
  min-height: 100%
  width: 100%

.view-wrapper
  display: table-cell
  padding: $toolbar-height 0
  vertical-align: middle

  transition-property: background-color, color

  &.warm,
  &.hot
    transition-duration: 1s, 900ms
    transition-delay: 0, 100ms

  &.warm
    background: $warm
  &.hot
    background: $hot
    color: $background
    
    use
      fill: $background

.center-container
  margin: 0 auto
  max-width: 500px
  width: 90%

/**
 * UI Classes
 */
$border-color: lighten($dark, 40%)

.list
  border-bottom: 1px solid $border-color
  
  li
    border-top: 1px solid $border-color
    position: relative
    text-align: left
    width: 100%

    a
      display: block
      padding: 1em
      text-decoration: none
      vertical-align: bottom

    .action-icn
      padding: 1em 0

    .icon
      height: $icon-size
      width: $icon-size

    .menu-icon
      margin-right: 0.5em
      height: $icon-size - 3
      width: $icon-size - 3


  > li:hover
    background: darken($background, 3%)


/**
 * Reusable Components
 */
.toolbar
  // @extend %sections
  // font-size: 1.3em
  background: $background
  height: $toolbar-height
  left: 0
  line-height: $toolbar-height
  padding: 0 1em
  position: fixed
  text-transform: none
  transition-property: background-color, color
  width: 100%

  .warm &,
  .hot &
    transition-duration: 1s, 900ms
    transition-delay: 0, 100ms

  .warm &
    background: $warm

  .hot &
    background: $hot

  &.toolbar-top
    top: 0

  .right
    margin-left: 10px

  .left
    margin-right: 10px

  a
    line-height: inherit
    text-decoration: none

  .icon
    height: $icon-size + 4px
    vertical-align: middle
    width: $icon-size + 4px

    &.icon-play-pause
      height: $icon-size + 6px
      width: $icon-size + 6px

.tab-nav
  overflow: hidden
  width: 100%

  li
    cursor: pointer
    float: left
    margin-right: 1em

@keyframes spin 
  0%
    transform: rotate(45deg)
  30% 
    transform: rotate(45deg)
  70% 
    transform: rotate(225deg)
  100%
    transform: rotate(225deg)


.wait-screen
  background: $background
  height: 100%
  left: 0
  position: absolute
  top: 0
  width: 100%
  
  $wait-icon-size: 40px

  .icon.wait-icon
    animation: spin 1.5s infinite
    height: $wait-icon-size
    left: 50%
    margin-top: -$wait-icon-size/2
    margin-left: -$wait-icon-size/2
    position: absolute
    top: 50%
    width: $wait-icon-size
