<div class="center-container">
  <div class="toolbar toolbar-top">
    <a href="{{$root.configData.homeLink}}" class="right">
      <svg class="icon">
        <use xlink:href="#home" />
      </svg>
    </a>
  </div>
  <article>
    <section>
      <header>
        <h2>About</h2>
      </header>
      <p>Write custom workouts in JSON (JavaScript Object Notation).</p>
    </section>
    <section>
      <header>
        <h2>API</h2>
      </header>
      <p>Workouts are written in valid JSON format. A very simple workout would look something like this:</p>
      
        <code>
<pre>
{
  "name": "Example Workout",
  "description" : "The workout's description",
  "exercises": [
    {
      "name": "The First Exercise",
      "reps": 10,
      "rest": 30
    }
  ]
}</pre>
        </code>

      <p>The following is a list of options.</p>
      
      <h3>name (required)</h3>
      <ul>
        <li>Type: String</li>
      </ul>
      
      <p>The name of the workout as you would like it to appear in the application.</p>
      
      <h3>description</h3>
      
      <ul>
        <li>Type: String</li>
      </ul>
      
      <p>A description of the workout. If provided, this information will appear as a sub section of the workouts list.</p>
      
      <h3>order</h3>
      
      <ul>
        <li>Type: Integer</li>
      </ul>

      <p>Forces the order of appearance in the list of workouts. If the order is not explicitly set, workouts will appear with the most recently modified file first. If timestamps are all the same (e.g. if all files are uploaded at the same time), they will appear in alphabetical order by name.</p>
      
      <h3>cycles</h3>
      
      <ul>
        <li>Type: Integer</li>
        <li>Default: 1</li>
      </ul>
      
      <p>The number of times to go through the list of excercises.</p>
      
      <h3>autoStart</h3>
      
      <ul>
        <li>Type: Boolean</li>
        <li>Default: false</li>
      </ul>
      
      <p>Set whether or not timed exercises should start automatically.</p>
      
      <h3>autoNext</h3>
      
      <ul>
        <li>Type: Boolean</li>
        <li>Default: true</li>
      </ul>
      
      <p>Set whether or not timed exercises should move on to rest time or the next exercise automatically.</p>
      
      <h3>exercises (required)</h3>
      
      <ul>
        <li>Type: Array</li>
      </ul>
      
      <p>An array of objects that contains the information for each exercise in the workout.</p>
      
      <h3>exercises -> title (required)</h3>
      
      <ul>
        <li>Type: String</li>
      </ul>
      
      <p>The name of the exercise as you would like to have it appear during the workout.</p>
      
      <h3>exercises -> reps</h3>
      
      <ul>
        <li>Type: Integer</li>
      </ul>
      
      <p>The number of times to perform the exercise.</p>
      
      <h3>exercises -> time</h3>
      
      <ul>
        <li>Type: Integer</li>
      </ul>
      
      <p>Sets a timer for the given exercise. Countdown starts automatically. If no reps are set the workout will advance to the rest stage or the next exercise.</p>
      
      <h3>exercises -> rest</h3>
      
      <ul>
        <li>Type: Integer</li>
      </ul>
      
      <p>The number of seconds of rest after the respective exercise. Rest time will not appear at the end of the last cycle.</p>
    </section>
  </article>

</div>