<div class="center-container">
  <h2>Workouts</h2>
  <ul class="workout-list list" ng-controller="listCtrl">
    <li ng-repeat="workout in viewData.workouts">
      <a class="workout-list-name" href="#/workout?id={{workout.id}}">
        {{ workout.name }}
      </a>
  
      <a class="desc-toggle icn-wrap" ng-if="workout.description">
        <svg class="icon">
          <use xlink:href="#info" />
        </svg>
      </a>
      
      <ul ng-if="workout.description">
        <li>{{ workout.description }}</li>
      </ul>
    </li>
    <li class="error" ng-show="viewData.errorMsg">
      <p>
        <svg class="icon">
          <use xlink:href="#warning" />
        </svg> {{viewData.errorMsg}}
      </p>
    </li>
  </ul>
</div>