<h1>Workouts</h1>
<ul class="workout-list">
  <li ng-repeat="workout in workouts">
    <a class="workout-list-name" href="#/workout?id={{workout.id}}">
      {{ workout.name }}
    </a>

    <a class="desc-toggle icn-wrap" ng-if="workout.description">
      <svg class="icon">
        <use xlink:href="#info" />
      </svg>
    </a>
    
    <ul ng-if="workout.description">
      <li>{{ workout.description }}</li>
    </ul>
  </li>
  <li class="error" ng-show="err">
    <p>
      <svg class="icon">
        <use xlink:href="#warning" />
      </svg> {{err}}
    </p>
  </li>
</ul>