<div class="center-container">
  <h1 class="branding">
    <svg class="icon">
      <title>JSON Gym</title>
      <use xlink:href="#wordmark" />
    </svg>
  </h1>
  <!-- <form ng-submit="submit()" ng-controller="getFileCtrl">
    <input type="text" ng-model="jsonfile" name="jsonfile" />
    <input type="submit" id="submit" value="Submit" />
  </form> -->
  <div>
    <ul class="main-menu list" >
      <li ng-if="viewData.workouts">
        <a href="#/list">Workouts</a>
      </li>
      <li>
        <a href="#/add">Add Workout</a>
      </li>
      <li>
        <a href="#/about">About / Documentation</a>
      </li>
    </ul>
  </div>
</div>