<div class="center-container">
  <h1 class="branding">
    <svg class="icon">
      <title>JSON Gym</title>
      <use xlink:href="#wordmark" />
    </svg>
  </h1>
  <div>
    <ul class="main-menu list" ng-controller="mainMenuCtrl">
      <li ng-if="viewData.workouts">
        <a href="#/list">
          <svg class="icon menu-icon">
            <use xlink:href="#barbell-angle" />
          </svg> Workouts
        </a>
      </li>
      <li>
        <a href="#/add">
          <svg class="icon menu-icon">
            <use xlink:href="#upload" />
          </svg> Add Workout
        </a>
      </li>
      <li>
        <a href="#/info">
          <svg class="icon menu-icon">
            <use xlink:href="#book" />
          </svg> About / Documentation</a>
      </li>
    </ul>
  </div>
</div>