<div class="toolbar workout-toolbar-top"></div>
<div class="workout-wrapper">
  <div class="info-wrapper">
    <div class="name">{{exercise.name}}</div>
    <div class="description">{{exercise.description}}</div>
    <div class="reps-time">
      <span class="reps" ng-show="exercise.reps">{{exercise.reps}} reps</span>
      <span ng-show="exercise.reps && exercise.currentTime"> / </span>
      <span class="timer" workout-timer="{{exercise.setTimer}}" ng-show="exercise.currentTime > 0">{{exercise.currentTime}}</span>
    </div>
  </div>
  
  <div class="action-wrapper">
    <a class="action btn" ng-class="actionClass" ng-click="nextAction.action()" ng-show="nextAction.text">{{nextAction.text}}</a>
  </div>
</div>
<div class="toolbar workout-toolbar-bottom">
  <div class="next-up" ng-show="exercise.nextUp">Next Up: {{exercise.nextUp}}</div>
</div>