/*
 * Colours
 */
/*
 * Sizes
 */
/*
 * Typeography
 */
/*
 * Transitions
 */
/*
 * Extends
 */
/*
 * Layout
 */
.wrapper {
  display: table;
  min-height: 100%;
  width: 100%;
}

.view-wrapper {
  display: table-cell;
  padding: 40px 0;
  vertical-align: middle;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
}
.view-wrapper.warm, .view-wrapper.hot {
  -webkit-transition-duration: 1s, 900ms;
  transition-duration: 1s, 900ms;
  -webkit-transition-delay: 0, 100ms;
  transition-delay: 0, 100ms;
}
.view-wrapper.warm {
  background: #e6ac27;
}
.view-wrapper.hot {
  background: #bf4d28;
  color: #fafbdd;
}
.view-wrapper.hot use {
  fill: #fafbdd;
}

.center-container {
  margin: 0 auto;
  max-width: 500px;
  width: 90%;
}

/*
 * UI Classes
 */
.list {
  border-bottom: 1px solid #c8bcac;
}
.list li {
  border-top: 1px solid #c8bcac;
  position: relative;
  text-align: left;
  width: 100%;
}
.list li a {
  display: block;
  padding: 1em;
  text-decoration: none;
  vertical-align: bottom;
}
.list li .action-icn {
  padding: 1em 0;
}
.list li .icon {
  height: 20px;
  width: 20px;
}
.list li .menu-icon {
  margin-right: 0.5em;
  height: 17px;
  width: 17px;
}
.list > li:hover {
  background: #f8f9cf;
}

/*
 * Reusable Components
 */
.toolbar {
  background: #fafbdd;
  height: 40px;
  left: 0;
  line-height: 40px;
  padding: 0 1em;
  position: fixed;
  text-transform: none;
  -webkit-transition-property: background-color, color;
  transition-property: background-color, color;
  width: 100%;
}
.warm .toolbar, .hot .toolbar {
  -webkit-transition-duration: 1s, 900ms;
  transition-duration: 1s, 900ms;
  -webkit-transition-delay: 0, 100ms;
  transition-delay: 0, 100ms;
}
.warm .toolbar {
  background: #e6ac27;
}
.hot .toolbar {
  background: #bf4d28;
}
.toolbar.toolbar-top {
  top: 0;
}
.toolbar .right {
  margin-left: 10px;
}
.toolbar .left {
  margin-right: 10px;
}
.toolbar a {
  line-height: inherit;
  text-decoration: none;
}
.toolbar .icon {
  height: 24px;
  vertical-align: middle;
  width: 24px;
}
.toolbar .icon.icon-play-pause {
  height: 26px;
  width: 26px;
}

.tab-nav {
  overflow: hidden;
  width: 100%;
}
.tab-nav li {
  cursor: pointer;
  float: left;
  margin-right: 1em;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  30% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  70% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  30% {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  70% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  100% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
}
.wait-screen {
  background: #fafbdd;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
.wait-screen .icon.wait-icon {
  -webkit-animation: spin 1.5s infinite;
  animation: spin 1.5s infinite;
  height: 40px;
  left: 50%;
  margin-top: -20px;
  margin-left: -20px;
  position: absolute;
  top: 50%;
  width: 40px;
}

/*
 * HTML
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  background: #fafbdd;
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
}
@media (max-width: 500px) {
  body {
    font-size: 0.8em;
  }
}

h1 {
  font-weight: 300;
  margin-top: 0;
}

h2 {
  font-weight: 300;
  margin-top: 0;
}

h3 {
  font-weight: 300;
  margin-top: 0;
}

h4 {
  font-weight: 300;
  margin-top: 0;
}

h5 {
  font-weight: 300;
  margin-top: 0;
}

h6 {
  font-weight: 300;
  margin-top: 0;
}

p {
  text-transform: initial;
}

.list ul, .list li,
.menu ul,
.menu li,
.workout ul,
.workout li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: inherit;
  cursor: pointer;
}

strong {
  font-weight: 500;
}

pre {
  background: #fdfef4;
  border: 1px solid #c8bcac;
  border-radius: 4px;
  padding: 1em;
  font-size: 0.9em;
}

/*
 * Classes
 */
.btn {
  border: 1px solid #655643;
  background: #d7eae2;
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  height: 100px;
  line-height: 100px;
  opacity: 1;
  text-transform: uppercase;
  width: 100px;
}
.hot .btn {
  background-color: #fafbdd;
  color: #655643;
}
.btn.action {
  font-size: 1.5em;
}
.btn.is-inactive {
  opacity: 0.5;
}

.left {
  float: left;
}

.right {
  float: right;
}

.icon {
  display: inline-block;
  height: 32px;
  vertical-align: middle;
  vertical-align: bottom;
  width: 32px;
}
.icon use {
  fill: #655643;
}

.error {
  overflow: hidden;
  text-transform: initial;
}

.branding {
  margin: 0 0 1em;
}
.branding .icon {
  height: 150px;
  width: 150px;
}

.workout-list li a.workout-list-name {
  width: 100%;
}
.workout-list li a.desc-toggle,
.workout-list li a.trash-btn {
  position: absolute;
  right: 15px;
  top: 0;
}
.workout-list li a.desc-toggle {
  right: 42px;
}
.workout-list li li {
  border-top: none;
  max-height: 0;
  overflow: hidden;
  text-align: left;
  text-transform: initial;
  -webkit-transition: max-height 1000ms ease;
  transition: max-height 1000ms ease;
}
.workout-list li li p {
  margin: 1em;
}
.workout-list li.is-showing-description li {
  max-height: 200px;
}
.workout-list li.error {
  text-align: center;
}
.workout-list li.error .icon {
  height: 16px;
  position: relative;
  top: -2px;
  width: 16px;
}

.workout-wrapper .name {
  font-size: 2em;
}
.workout-wrapper .description {
  text-transform: initial;
  font-size: 1.4em;
}
.workout-wrapper .reps-time {
  font-size: 5em;
  line-height: 100px;
  height: 100px;
}
.workout-wrapper .reps:after {
  content: "reps";
  font-size: 0.4em;
  margin-left: 0.5em;
}
.workout-wrapper .action-wrapper {
  min-height: 100px;
}

.workout-toolbar-top {
  top: 0;
}

.workout-toolbar-bottom {
  bottom: 0;
}

.next-up {
  text-align: left;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.info p, .info pre, .info h1, .info h2, .info h3, .info ul, .info ol, .info li {
  text-align: left;
  text-transform: none;
}
.info h3 {
  font-weight: 500;
}
.info ul {
  font-size: 0.9em;
  font-style: italic;
}
.info ol li {
  margin-bottom: 1em;
}

.add a, .add p {
  text-transform: initial;
}
.add .icon {
  height: 20px;
  margin-right: 0.5em;
  width: 20px;
}
.add .add-form {
  position: relative;
}
.add .add-form #submit {
  background: #655643;
  border: none;
  border-radius: 4px;
  color: #fafbdd;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-size: 0.8em;
  height: 30px;
  margin-top: -15px;
  padding: 0 10px;
  position: absolute;
  right: 0;
  top: 50%;
}
.add .json-file-input {
  background: transparent;
  border: none;
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
  padding: 0.8em 80px 0.8em 0.8em;
  width: 100%;
}
.add .json-file-input::-webkit-input-placeholder {
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
}
.add .json-file-input:-moz-placeholder {
  /* FF 4-18 */
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
}
.add .json-file-input::-moz-placeholder {
  /* FF 19+ */
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
}
.add .json-file-input:-ms-input-placeholder {
  /* IE 10+ */
  color: #655643;
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
  font-weight: 300;
}
.add .add-form,
.add .dropbox-btn {
  border: 1px solid #c8bcac;
  border-width: 1px 0;
  display: block;
  width: 100%;
}
.add .dropbox-btn {
  padding: 0.8em;
}
