/*
 * Colours
 */
/*
 * Extends
 */
/*
 * HTML
 */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background: #fafbdd;
  color: #80bca3;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  text-align: center;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  color: #80bca3;
}

/*
 * Classes
 */
.btn {
  border: 1px solid #80bca3;
  border-radius: 1em;
  cursor: pointer;
  display: inline-block;
  margin-top: 10px;
  padding: 0.8em 1.5em;
  text-transform: uppercase;
}
.btn.action {
  font-size: 1.5em;
}
.btn.is-inactive {
  border-color: white;
  color: white;
}

.toolbar, .workout-wrapper, .info-wrapper, .action-wrapper {
  position: absolute;
  width: 100%;
}

.toolbar {
  height: 40px;
  line-height: 40px;
  padding: 0 1em;
}

.workout-toolbar-top {
  top: 0;
}

.workout-toolbar-bottom {
  bottom: 0;
}

.workout-wrapper {
  bottom: 40px;
  overflow: auto;
  top: 40px;
}

.info-wrapper {
  bottom: 45%;
}

.reps-time {
  font-size: 5em;
}

.action-wrapper {
  top: 55%;
}

.next-up {
  text-align: left;
}
