$max: 500px

$border-color: lighten($dark, 40%)

.branding
  margin: 0 0 1em

  .icon
    height: 150px
    width: 150px

.list-message
  font-weight: 200
  text-transform: initial
  margin: 1em auto
  max-width: $max
  width: 90%

.workout-list
  border-bottom: 1px solid $border-color
  max-width: 500px
  width: 90%
  margin: 0 auto

  > li:hover
    background: darken($background, 3%)

  li
    border-top: 1px solid $border-color
    font-weight: 200
    position: relative
    text-align: left
    width: 100%

    .icon
      height: $icon-size
      width: $icon-size

    a
      display: inline-block
      padding: 1em
      text-decoration: none

      &.workout-list-name
        width: 100%

      &.desc-toggle
        position: absolute
        right: 0
        top: 0

      // &.icn-wrap
      //   padding: 0
      //   vertical-align: middle

    li
      display: none
      padding: 1em
      text-align: left
      text-transform: initial

    &.is-showing-description li
      display: block

    &.error
      text-align: center

      .icon
        height: $icon-size - 4px
        position: relative
        top: -2px
        width: $icon-size - 4px
