$divider: 55%

.workout-wrapper
  .name
    font-size: 2em

  .description
    text-transform: initial
    font-size: 1.4em

  .reps-time
    font-size: 5em
    line-height: 100px
    height: 100px

  .reps:after,
    content: 'reps'
    font-size: 0.4em
    margin-left: 0.5em

  .action-wrapper
    min-height: 100px

@each $loc in $toolbars
  .workout-toolbar-#{$loc}
    #{$loc}: 0

.next-up
  text-align: left
  text-overflow: ellipsis
  overflow: hidden
  white-space: nowrap